<div class="leftside-menu">
    <!-- LOGO -->
    <a href="index.html" class="logo text-center logo-light">
        <span class="logo-lg">
            <img src="../images/index/images/pasaqhaya letra.jpeg" alt="" height="16">
        </span>
        <span class="logo-sm">
            <img src="../images/index/images/pasaqhaya.png" alt="" height="16">
        </span>
    </a>

    <!-- LOGO -->
    <a href="index.html" class="logo text-center logo-dark">
        <span class="logo-lg">
            <img src="../images/index/images/pasaqhaya letra.jpeg" alt="" height="16">
        </span>
        <span class="logo-sm">
            <img src="../images/index/images/pasaqhaya letra.jpeg" alt="" height="16">
        </span>
    </a>

    <div class="h-100" id="leftside-menu-container" data-simplebar="">

        <!--- Sidemenu -->
        <ul class="side-nav">

            <li class="side-nav-title side-nav-item">Dashboards</li>

            <li class="side-nav-item">
                <a href="pedidos" class="side-nav-link">
                    <i class="mdi mdi-order-numeric-descending"></i>
                    <span> Pedidos </span>
                </a>
            </li>

            <li class="side-nav-item">
                <a href="apps-chat.html" class="side-nav-link">
                    <i class="uil uil-users-alt"></i>
                    <span> Usuarios </span>
                </a>
            </li>

            <li class="side-nav-item">
                <a href="mdi apps-chat.html" class="side-nav-link">
                    <i class="mdi mdi-book-edit-outline"></i>
                    <span> Productos </span>
                </a>
            </li>

        </ul>
        <!-- End Sidebar -->

        <div class="clearfix"></div>

    </div>
    <!-- Sidebar -left -->

</div>

<div class="content-page">
    <div class="content">
        <div class="navbar-custom">
            <ul class="list-unstyled topbar-menu float-end mb-0">
                <li class="dropdown notification-list">
                    <a class="nav-link dropdown-toggle nav-user arrow-none me-0" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                        <span class="account-user-avatar"> 
                            <img src="../dashboard/assets/images/users/avatar-1.jpg" alt="user-image" class="rounded-circle">
                        </span>
                        <span>
                            <span class="account-user-name">Nombre usuario</span>
                            <span class="account-position">Pasaqhaya</span>
                        </span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end dropdown-menu-animated topbar-dropdown-menu profile-dropdown">
                        <!-- item-->
                        <a href="javascript:void(0);" class="dropdown-item notify-item">
                            <i class="mdi mdi-logout me-1"></i>
                            <span>Logout</span>
                        </a>
                    </div>
                </li>

            </ul>
            <button class="button-menu-mobile open-left">
                <i class="mdi mdi-menu"></i>
            </button>
        </div>