
<!--Footer section-->
<footer class="border-top py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <img src="images/index/images/pasaqhaya letra.jpeg" height="40" alt="">
                <h4 class="mt-3">Get the app</h4>
                <p>NEfresh App is now available on Google Play & App Store. Get it now.</p>
                <img src="images/index/images/store1.png" alt="">
                <img src="images/index/images/store2.png" alt="">
            </div>
            <div class="col-lg-3">
                <h4>Information</h4>
                <ul class="footer-list">
                    <li><a href="">About us</a></li>
                    <li><a href="">Shipping Policy</a></li>
                    <li><a href="">Terms & Conditions</a></li>
                    <li><a href="">Privacy Policy</a></li>
                    <li><a href="">Contact Us</a></li>
                </ul>
            </div>
            <div class="col-lg-3">
                <h4>User Area</h4>
                <ul class="footer-list">
                    <li><a href="">My account</a></li>
                    <li><a href="">My Cart</a></li>
                    <li><a href="">Login</a></li>
                    <li><a href="">Checkout</a></li>
                </ul>
            </div>
            <div class="col-lg-3">
                <h4>Contact Info</h4>
                <p>07577985281</p>
                <p>509 724 580 - issued in New York (NY) on 03/11/2019, expires 08/11/2023</p>
                <p>support@eshop.com</p>
            </div>
        </div>
        <hr>
        <div class="copyright-text mt-3 text-center">
            <a href="">Copyright © 2021 <span class="text-dark fw-bold">Web</span>
                <span  class="text-danger fw-bold">Burden</span></a>
        </div>
    </div>
</footer>
<div class="loading" id="loader">
    <img src="images/index/images/preloader.svg" alt="">
</div>

<script>
    setTimeout(() => {
        document.getElementById('loader').style.display= "none";
    },1000)
</script>
<script src="javascripts/index/js/bootstrap.bundle.js"></script>
<script src="javascripts/jquery/jquery-3.6.1.min.js"></script>

<!-- bundle -->
<script src="assets/js/vendor.min.js"></script>
<script src="assets/js/app.min.js"></script>
<!-- demo js -->
<script src="dashboard/assets/js/pages/demo.toastr.js"></script>
<script src="javascripts/carrito.min.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $(window).attr('location','#')
        $("#nav-home").addClass("active");
        $(".nav-active").click(function() {
            $(".nav-active").removeClass("active");
            var elementId = $(this).attr("id");
            $("#"+elementId).addClass("active");
            //console.log($(this).attr("id"))
        });
    });
    function agregarCarrito(id_producto, precio) {
        console.log('id_producto ==>', id_producto);
        console.log('precio ==>', precio);
        $.ajax({
            url: "/agregar/carrito",
            type: "post",
            data: {
                id_cliente: 2,
                id_producto,
                precio
            },
            success: function (response) {
                console.log(response);
                var dataHtml = "";
                if(response.ok) {
                    dataHtml = dataHtml +`
                    <div class="alert alert-success alert-dismissible bg-success text-white border-0 fade show" role="alert">
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        <strong>Success - </strong> ${response.msg}
                    </div>
                    `;
                    //$.NotificationApp.send("Title","Your awesome message text","Position","Background color","Icon");
                    //$.NotificationApp.send("Bien hecho!","dddd","bottom-right","rgba(0,0,0,0.2)","success")
                } else {
                    dataHtml = dataHtml +`
                    <div class="alert alert-danger alert-dismissible bg-danger text-white border-0 fade show" role="alert">
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        <strong>Error - </strong> ${response.msg}
                    </div>
                    `;
                }
                $("#msgcarrito").append(dataHtml);
            },
            error: function(jqXHR, textStatus, errorThrown) {
            console.log(textStatus, errorThrown);
            }
        });
    }
</script>
</body>
</html>